.que-area {
    padding-bottom: 10rem;
}

.que-text {
    display: grid;
    grid-template-columns: 70px 1fr;
    row-gap: 54px;
}

.que-right {
    padding: 2.625rem 2rem;
    background: rgba(138, 71, 246, .1);
}

.que-contact h3 {
    font-size: 2.25rem;
    font-weight: 600;
}

.que-info h4 {
    font-weight: 600;
}

.input-item label {
    font-size: 1.25rem;
    font-weight: 500;
}

.input-item input {
    padding: .75rem;
    margin-bottom: .625rem;
}

.form-control:focus {
    box-shadow: 0 0 0 .25rem rgb(200 222 255 / 25%);
}