.portfolio__content{
    padding-block: 80px;

    & h1{
        font-size: 3rem;
    }
}

.portfolio_filter{
    width: 100%;
    padding: 1.5rem 2.25rem;
    background: #fff;
    border-radius: .5rem;
    margin-block: 1.875rem;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 12%);
}