.price-area {
  padding-bottom: 5rem;
}

.price-item {
  border-radius: 1rem;
  background: var(--white);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.15);
  height: 417px;
}


.price-item h3 {
  font-weight: 900;
  font-family: sans-serif;
  font-size: 3rem;
}

.price-item h4 {
  font-weight: 900;
}